<div class="country-search">
  <input id="input-country-name" type="text" />

  <ul id="country-list"></ul>

  <div class="single-country">
    <h2 id="name">Country Name</h2>

    <div class="details">
      <div class="left">
        <p>
            <strong>Capital:</strong> <span id="capital">City Name</span>
        </p>
        <p>
            <strong>Population:</strong> <span id="population">City Name</span>
        </p>
        <p>
            <strong>Languages:</strong>
        </p>
        <ul id="languages"></ul>
      </div>

      <div class="right">
        <img id="flag" src="" alt="flag" />
      </div>
    </div>
  </div>
</div>
